.body{
    margin :0px;
    padding: 0px;
    background: black;
    position: absolute;
}
.flex_content{
column-count: 4;
}
.content_group{

    text-align: center;
}
.content_title{
    font-weight: bold;
}
/* 1200px / 992px / 768px / 576px  */
@media screen and (max-width: 768px){
    .flex_content{
        column-count: 2;
    }
}
@media screen and (max-width: 576px){
    .flex_content{
        column-count: 1;
    }
}